*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navv{
    background-image: linear-gradient(180deg,rgb(0, 109, 128),rgb(128, 243, 128),rgb(255, 255, 255));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.navv a{
    color: black !important;
    font-size: 20px;    
}
.navv .aone{
    font-size: 25px;   
}
.navv .atow{
    margin-left: 5px;
}
.navv .atow:hover{
    background-color: azure;
    border-radius: 5px;    
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../image/cover-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#home div{
    border: 2px solid green;
    padding: 15px;
    background-image: linear-gradient(180deg,rgba(0, 109, 128, 0.377),rgba(128, 243, 128, 0.336));
}
#home .title{
    font-size: 50px !important;
    margin-bottom: 10px;
}
#home .text1{
    font-size: 25px !important;
    color: white;

}
#Reservation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../image/cover-reservayion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.roww{
    background-image: linear-gradient(180deg,rgba(0, 109, 128, 0.377),rgba(128, 243, 128, 0.336));
    padding: 15px 10px;
    border-radius: 15px;
}
#secretary{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btna{
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}
.btna:hover{
    color: white;
    background-color: rgba(34, 212, 34, 0.336);
    text-decoration: none;
}
.diva{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#ass-s{
    position: relative;
    top: 72px;
    left: 0;
}
#ass-s .roww{
    align-items: center;
    justify-content: center;
}
form{
    background-color: rgb(116, 240, 203);
    border-radius: 15px;
    padding: 15px;
}
